* {
    margin: 0px;
    padding: 0px;
    
}
.main-page {
    padding-top: 11px;
    padding-left: 121px;
    padding-right: 85px;
    padding-bottom: 121px;
}

.logo {
    margin-top: 11px;
    margin-bottom: 110px;
    margin-right: 10px;
}

.time {
    margin-top: 43px;
    margin-bottom: 29px;
    margin-right: 163px;
    display: flex;
    flex-direction: row;
}

.time div {
    margin-right: 25px;
}

.time-block-first {
    display: flex;
    flex-direction: row;
}

.time-block-second {
    display: flex;
    flex-direction: row;
}

.time-block-third {
    display: flex;
    flex-direction: row;
}

.text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    line-height: 23px;
    margin-left: 10px;
}

.head-text {
    font-family: 'Roboto Slab', serif;
    width: 700px;
    font-size: 80px;
    line-height: 81.11px;
}

.main-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    line-height: 30px;
}

.block-third {
    display: flex;
    flex-direction: row;
}

.content-middle-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 68px;
}

.content-middle {
    width: 483.63px;
    background-color: rgb(16, 16, 155);
    color: white;
    padding: 19px 19px 21px 26px;
}

.middle-text {
    font-family: 'Roboto Slab', serif;
    width: 400px;
    font-size: 25px;
    line-height: 32.5px;
}

.author {
    color: black;
    text-align: right;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}

.course {
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    height: 93px;
    width: 365px;
    padding-left: 121px;
    padding-top: 173.36px;
    padding-right: 954px;
    padding-bottom: 18px;
}

.main-text-two {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    height: 374px;
    width: 662px;
    padding-top: 18px;
    padding-right: 190px;
    padding-bottom: 94px;
}

.block-fourth {
    display: flex;
}

.photo-ordinator {
    padding-top: 308.36px;
    padding-right: 153px;
    padding-bottom: 199px;
}

.block-fifth {
    display: flex;
}

.cameraman {
    padding-right: 132px;
}

.head-same {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.text-second {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 95px;
}
.head-format{
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 178px;
    padding-bottom: 89px;
}
.block-sixth{
    display: flex;
}

.head-text-blue{
    font-family: Roboto;
        font-size: 25px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: rgb(23, 66, 146);
        padding-top: 89px;
        
}
.text-third{
    font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
}
.head-learn{
    font-family: Roboto Slab;
        font-size: 55px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 179px;
        
}
.list-learn{
    font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 22px;
}
.head-programme{
    font-family: Roboto Slab;
        font-size: 55px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 248px;
}
.last-block{
    display: flex;
    flex-wrap: wrap;
    padding-top: 95px;
 }
 .last-block div{
    margin-right: 37px;
        margin-bottom: 41px;
        border-radius: 30px;
        border: 2px solid rgb(71, 69, 69);
}
.head-last{
    font-family: Roboto;
font-size: 30px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
padding-left: 20px;
padding-top: 171px;
padding-right: 14px;
padding-bottom: 118px;
}
.page-two{
    background: #EFEFEF;
border-radius: 0px;
border-radius: 0px;

border-radius: 0px;

}
.page-two-head{
    display: flex;
    font-family: Roboto Slab;
font-size: 55px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
padding-left: 122px;
padding-top: 91px;
padding-right: 331px;
padding-bottom: 44px;
}
.profil{
    width: 750px;
border-radius: 0px;
    background-color: white;
border-radius: 30px;
margin-left: 126px;
margin-right: 520px;
margin-bottom: 50px;
}
.profil-text{
    height: 20px;
border-radius: 30px;
    padding-left: 45px;
    padding-top: 40px;
    padding-right: 45px;
    padding-bottom: 208px;
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
.women-photo{
    padding-left: 27px;
    padding-top: 10px;
    padding-right: 575px;
    padding-bottom: 30px;
}
.name-profil{
    font-family: Roboto Slab;
font-size: 30px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
padding-left: 246px;
padding-top: 50px;
}

.fb-photo{
padding-left: 246px;
padding-bottom: 60px;
}
.page-three{
    background: #9DC9C8;
    height: 780px;
width: 1440px;
border-radius: 0px;
padding-left: 122px;

}
.head-page-three{
    font-family: Roboto Slab;
font-size: 55px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
padding-top: 179px;
padding-right: 410px;

}
.page-three-text{
    height: 32px;
width: 170px;
border-radius: nullpx;
    font-family: Roboto;
font-size: 25px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
padding-top: 54px;
padding-bottom: 30px;
padding-right: 1158px;
}
.three-money{
    font-family: Roboto;
font-size: 80px;
font-weight: 400;
line-height: 81px;
letter-spacing: 0em;
text-align: left;
height: 181px;
width: 481px;
border-radius: nullpx;
padding-bottom: 155px;
padding-right: 837px;

}
.three-flex{
    display: flex;
}
.head-three{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    height: 32px;
width: 294px;
border-radius: nullpx;

}
.text-three{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    height: 70px;
    width: 294px;
    border-radius: nullpx;
        
}