*{
    margin: 0px;
    padding: 0px;
}
.first{
    padding-top: 11px;
    padding-left: 121px;
    padding-right: 85px;
    padding-bottom: 121px;
}
.logo{
    margin-top: 11px;
    margin-bottom: 110px;
    margin-right: 10px;
}
.time{
 margin-top: 43px;
 margin-bottom: 184px;
 margin-right: 163px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
.time-block-first{
    display: flex;
    flex-direction: row;
}
.time-block-second{
    display: flex;
    flex-direction: row;
}
.time-block-third{
    display: flex;
    flex-direction: row;
}
.text{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    line-height: 23px;
}
.head-text{
    font-family: 'Roboto Slab', serif;
    width: 700px;
    font-size: 80px;
    line-height: 81.11px;
}
.main-text{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    line-height: 30px;
}
.block-third{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content-middle{
    margin-top: 87.62px;
    margin-left: 409.39px;
    margin-bottom: 173.36px;
    width: 483.63px;
    height: 200.02px;
    background-color: rgb(16, 16, 155);
    color: white;
}
.middle-text{
    font-family: 'Roboto Slab', serif;
    width: 400px;
    font-size: 25px;
    line-height: 32.5px;
    padding-left: 26.03px;
    padding-top: 19.26px;
    padding-right: 27.02px;
    padding-bottom: 67.74px;
}
.author{
width: 280.5px;
height: 45.64px;
padding-left: 184.61px;
padding-top: 154.38px;
padding-right: 108.52px;
padding-bottom: 0.02px;
text-align: right;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
}